.reply-post {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 200px;
    padding: 2em;
    position: relative;
    border: 1px solid #232D3F;
}

.reply-post .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.reply-post .textarea {
    width: 100%;
    height: 80%;
    padding: 5px;
    font-size: 1.125rem;
    resize: none;
    outline: none;
    background: #232D3F;
    color: white;
    border: none;
    border-radius: 5px;
}

.reply-post .textarea-image {
    width: 80%;
    height: 15%;
    padding: 10px;
    font-size: 1.125rem;
    resize: none;
    outline: none;
    background: #232D3F;
    color: white;
    border: none;
    border-radius: 5px;
}

.reply-post .button {
    background-color: #008170;
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 8px;
}

.reply-post .button:hover {
    background-color: #005B41;
}