.right-pane {
  background-color: black;
  /* background: transparent; */
  color: #fff;
  width: 100%;
  border-left: 1px solid #666666; 
}

.whoToFollow {
  border: 1px solid gray;
  position: relative;
  width: 50%;
  height: 35vh;
  border-radius: 20px;
  left: 50px;
  top: 20px;
}

