.right-pane {
  color: #fff;
  width: 100%;
  border-left: 1px solid #232D3F; 
  box-sizing: border-box;
  padding: 1rem;
}

.suggested { 
  display: flex;
  flex-direction: column;
  width: 400px; 
  border: 1px solid #232D3F;
  border-radius: 15px;
  padding: 1em; 
  margin: 50px auto;
  gap: 5px;
}

.user-match-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.follow-button-suggested {
  background-color: #008170; 
  width: 8rem;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.follow-button-suggested:hover {
  background-color: #005B41;
}

.no-users {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

@media (max-width: 1200px) {
  .right-pane {
    display: none;
  }
}
