.profile-page {
    width: 595px;
}

.profile-section {
    height: 30rem;
    border-bottom: 1px solid gray;
    position: relative;
}

.cover-image img {
    width: 100%;
    height: auto;
}

.profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: relative;
    left: 15%;
    transform: translate(-50%, -50%);
    border: 4px solid black; 
}

.profile-picture img {
    width: 100%;
    height: 100%;
}

.buttons {
    position: relative;
    bottom: -5%;
    width: 100%;
}

.posts-button, .likes-button {
    background-color: transparent;
    width: 50%;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.posts-button:hover, .likes-button:hover {
    background-color: #bb6016;
}

.user-credentials {
    position: relative;
    top: -15%;
    left: 3%;
    display: flex;  
    align-items: center;  
    gap: 1rem; 
}

.user-info {
    display: flex;
    flex-direction: column; 
    /* margin-right: 17rem;  */
}

.user-fullname {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}

.user-username {
    font-weight: normal;
    font-size: 1rem;
    color: gray;
}

.follow-edit-button {
    background-color: #cd5c00; 
    width: 8rem;
    height: 5vh;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    left: 17rem;
    cursor: pointer;
}

.follow-edit-button:hover {
    background-color: #bb6016;
}
