.profile-page {
    width: 100%;
    overflow: auto !important;
    height: 100vh;
}

.profile-page::-webkit-scrollbar {
    display: none; 
}

.profile-section {
    border-bottom: 1px solid #232D3F;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cover-image {
    width: 100%;
    height: 200px;
}

.cover-image > img {
    width: 100%;
    height: 100%;
}

.lower-section {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}

.profile-picture-insection {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: relative;
    left: 15%;
    transform: translate(-50%, -65%);
    border: 3px solid black; 
}

.profile-picture-insection img {
    width: 100%;
    height: 100%;
}

.prof-buttons {
    bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.posts-button, .likes-button {
    background-color: transparent;
    width: 50%;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.posts-button:hover, .likes-button:hover {
    background-color: #005B41;
}

.user-credentials {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;  
}

.user-info {
    position: absolute;
    left: 2rem;
    top: 5rem;
    display: flex;
    flex-direction: column; 
    gap: 3px;
}

.user-fullname {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

.user-username {
    font-weight: normal;
    font-size: 1rem;
    color: gray;
}

.follow-button {
    background-color: #008170; 
    width: 7rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #005B41;
}

.edit-profile-button {
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.edit-profile-button > * {
    width: 1.5rem;
    height: 1.5rem;
    color: #232D3F;
}

.edit-profile-button:hover {
    background-color: #005B41; 
}

.user-bio {
    color: white;
    padding-left: 1rem;
    line-height: 1.4;
}

@media (max-width:600px) {
    .profile-picture-insection {
        transform: translate(-30%, -65%);
    }
}

