.event-skeleton {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #232D3F;
    border-radius: 20px;
    margin-top: 50px;
    overflow: hidden;
}

.event-skeleton:last-child {
    margin-bottom: 50px;
}

.event-image img {
    width: 100%;
    height: 200px;
}

.event-name , .event-date, .event-location, .going-count, .interested-count {
    margin: 12px;
    display: flex;
    align-items: center;
}

.event-information svg {
    width: 1.5em; 
    height: 1.5em;  
    margin-right: 8px; 
}

.event-functionality {
    width: 100%;
}

.functionalities-going, .functionalities-interested {
    background-color: transparent;
    width: 50%;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5em;
}

.functionalities-going:hover, .functionalities-interested:hover {
    background-color: #005B41;
}

.already-responded {
    text-align: center;
    margin: 8px;
    font-weight: 700;
}
