.post-skeleton {
    display: flex;
    flex-direction: column;
    /* max-height: 60vh; Set a maximum height
    overflow: auto; */
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid #232D3F;
    position: relative;
}

.post-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1.2em;
}

.avatar-skeleton img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #e0e0e0;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name-skeleton,
.username-skeleton,
.content-skeleton {
    background-color: transparent;
}

.name-skeleton {
    height: 1.0rem;
    font-weight: bold;
    color: white;
}

.username-skeleton {
    height: 1.0rem;
    color: gray;
}

.content-skeleton {
    color: white;
    height: 100%;
    width: 100%;
    padding: 1.2em;
    padding-top: 0;
    padding-bottom: 10px;
}

.image-container {
    padding: 1.2em;
}

.post-image {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.post-functionality {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.functionalities-like {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #555;
    font-size: 0.9rem;
    background-color: transparent;}

.functionalities-comment {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #555;
    font-size: 1rem;
    background-color: transparent;
}


.functionalities-bookmark {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #555;
    font-size: 0.9rem;
    background-color: transparent;}

.functionalities-like svg {
    width: 1.5rem;
    height: 1.5rem;
}

.functionalities-comment svg {
    width: 1.5rem;
    height: 1.5rem;
}

.functionalities-bookmark svg {
    width: 1.5rem;
    height: 1.5rem;
}

.button-container {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 15px;
    right: 10px;
}

.options-button {
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

.options-button:hover {
    background-color: #363636;
}

.options-button svg {
    width: 1.3rem;
    height: 1.3rem;
    color: #696d67;
}

.dropdown-menu {
    position: absolute;
    top: 15px;
    right: 65px;
    background-color: #000000;
    border: 1px solid #353535;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    display: none;
    z-index: 1000;
}

.dropdown-menu.visible {
    display: block;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #333;
}


[name="gray"] {
    color: #555;
}

[name="green"] {
    color: #008170;
}

.post-skeleton:last-child {
    border-bottom: none;
}