.events-catalog {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    overflow: auto !important;
    height: 100vh !important;
}

.events-catalog::-webkit-scrollbar {
    display: none;
}