.chat-container {
    display: flex; 
    width: 100%;
    margin-bottom: 1em;
    gap: 15px;
}

.image-container-pic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.chat-start {
    justify-content: flex-start; 
}

.chat-end {
    justify-content: flex-end; 
}

.profile-picture-message {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
}

.chat-bubble {
    padding: 12px; 
    max-width: 60%; 
    border-radius: 20px;
    color: white;
    word-wrap: break-word;
}

.chat-start .chat-bubble {
    background-color: gray; 
    border-top-left-radius: 0;
}

.chat-end .chat-bubble {
    background-color: #005B41; 
    border-top-right-radius: 0;
}
