.search-panel {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #232D3F;
}

.search-input {
    height: 100%;
    background-color: transparent ;
    border: 1px solid #232D3F;
    width: 80%;
    border-radius: 8px;
    height: 4vh;
    color: white;
    font-weight: 700;
    padding: 5px;
}

.people-matches {
    padding: 1.2em;
}

.mini-heading-people {
    color: #008170;
    margin: 10px;
}

.mini-heading-posts {
    color: #008170;
    padding-left: 1.2em;
    margin: 10px;
}

@media (max-height:600px) {
    .search-panel {
        height: 80px;
    }
    .search-input {
        height: 50%;
    }
}